[data-scrim] {
  position: fixed;
  inset: 0;
  visibility: hidden;
  transition-duration: var(--scrim-duration, 300ms);
}

[data-scrim][data-scrim-open] {
  visibility: visible;
}

[data-scrim][data-scrim-instant] {
  transition: none;
}
